<h3>Información</h3>
<mat-divider style="margin-top: 1%; margin-bottom: 1%"></mat-divider>
<p>Para un evento de pago se permiten dos tipos de actividades<br>que se explican a continuacón:</p>
<div class="container">
    <p>- General: todos los usuarios registrados al evento de pago<br>
       deben autenticarse al iniciar la actividad en las fechas y<br>
       tiempos establecidos. </p>
    <p>- Especial de pago: todo usuario que quiera asistir a una<br>
       actividad de este tipo, debe pagar el monto establecido.<br>
       Registro y cobro se hace previo a la actividad, y durante<br>
       la actividad se hace la autenticacion.<br>
       *Nota: estas actividades son sub-eventos pequeños que no<br>
       tienen tanto peso como el evento en general.</p>
</div>
<mat-divider style="margin-top: 1%; margin-bottom: 1%"></mat-divider>
<button mat-raised-button color="primary" (click)="onNoClick()">Cerrar</button>